---
import { checkIfUnsafe } from '@matthiesenxyz/integration-utils/securityUtils';

const test = checkIfUnsafe('admin').username();

console.log(test);
---

<html>
    <head>
        <title>{Astro.generator} Playground</title>
    </head>
    <body>
        <h1>Hello World {test}</h1>

    </body>
</html>
