---
import { reservedNames } from '@matthiesenxyz/integration-utils';
---

<html>
    <head>
        <title>{Astro.generator} Playground</title>
    </head>
    <body>
        <h1>Hello World</h1>

    </body>
</html>
